body{
  text-align: center;
  box-size: border-box;
  background-color: black;
}

h3{
  color: white;
  font-size: 30px;
  font-family: Arial;
}
.container{
  border: 2px solid grey;
  border-radius: 10px;
  width:250px;
  margin-left:550px;
  align-item: center;
}

#input-box{
  width:210px;
  color: white;
  padding:10px 6px;
  border-radius: 10px;
  border:2px solid rgb(222, 136, 7);
  background-color:black;
  text-align: right;
  font-size: 15px
}

.btn button{
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-top: 4px;
  margin-bottom: 3px;
  cursor: pointer;
}

.btn .box-btn{
  background-color: orange;
}
.btn .btn-equal{
  border-radius: 15px;
}
