*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #020202, #09442f);
}
.calbox{
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(122, 126, 134, 0.5);
}

input{
  padding: 9px;
  border: none;
  margin: 10px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.3);
  font-size: 23px;
  text-align: right;
  cursor: pointer;
  color: white;
}

input::placeholder{
  color: white;
}

button{
  width: 50px;
  height: 50px;
  border: none;
  margin: 15px;
  padding: 3px;
  border-radius: 50%;
  background: transparent;
  color: white;
  box-shadow: -1px -2px 10px rgba(124, 124, 124, 0.2);
  font-size: 20px;
  cursor: pointer;
}

.butequal{
  background-color: orangered;
}

.but{
  color: rgb(37, 238, 37);
}